Working on {{title}}

<h5>References :</h5>
https://dev.to/vinaynvd/6-steps-to-create-a-chrome-extension-using-angular-45j8
https://mobiosolutions.com/step-by-step-guide-to-build-google-chrome-extension/


https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json
https://web.dev/add-manifest/
https://developer.chrome.com/docs/extensions/mv3/manifest/


Uploading in mozilla firefox
https://riptutorial.com/firefox-addon/example/26613/installing-a-temporary-add-on
https://developer.mozilla.org/en-US/docs/Tools/about:debugging

NOTE : Upload manifest file in mozilla and folder inside dist for chrome